# Model Configurations
CHAT_MODEL_PATH=C:\Users\hp\Desktop\Projects\LocalRAG_ChatBot\LocalRAGChatBot\models\chat\qwen2.5-3b-instruct-q4_k_m.gguf
EMBED_MODEL_PATH=C:\Users\hp\Desktop\Projects\LocalRAG_ChatBot\LocalRAGChatBot\models\embed\nomic-embed-text-v1.5.Q4_K_M.gguf
DB_FILE_NAME=ragapp.db

# Windows Compiler/CGO Settings
CGO_ENABLED=1
CC=gcc
CXX=g++

LIBRARY_PATH=C:\Users\hp\Desktop\Projects\LocalRAG_ChatBot\LocalRAGChatBot\third_party\llama-go
C_INCLUDE_PATH=C:\Users\hp\Desktop\Projects\LocalRAG_ChatBot\LocalRAGChatBot\third_party\llama-go