# Model Configurations
CHAT_MODEL_PATH=<>\LocalRAGChatBot\models\chat\qwen2.5-3b-instruct-q4_k_m.gguf
EMBED_MODEL_PATH=<>\LocalRAGChatBot\models\embed\nomic-embed-text-v1.5.Q4_K_M.gguf
DB_FILE_NAME=ragapp.db
CHAT_CONTEXT_SIZE=4096

# Windows Compiler/CGO Settings
CGO_ENABLED=1
CC=gcc
CXX=g++

LIBRARY_PATH=<>\LocalRAGChatBot\third_party\llama-go
C_INCLUDE_PATH=<>\LocalRAGChatBot\third_party\llama-go